* {
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
}

#button {
    background-color: #ffffff;
    border: 1px solid #ff9e49;
    color: #ff9e49;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(14, 169, 40);
    border-radius: 4px;
    background-color: #f8f8f8;
}

#button:hover {
    background-color: #ff9e49;
    transition: 0.2s ease-out;
    color: #fff;
}

#generator {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: rgb(32, 194, 194);
}

#resetLink {
   padding: 30px;
}

#token {
    padding: 30px;
 }